.list {
	list-style: none;
	padding: 0;
}

.listItem {
	margin-bottom: 4px;

	span {
		display: inline-block;
		margin-right: 10px;
		transition: all 0.12s ease 0s;

		&:has(+ .link:hover) {
			color: red;
			transform: scale(1.4);
		}
	}
}

.link {
	color: #000;
	text-decoration: none;
}