.form {
	border-radius: 6px;
	border: 1px solid blue;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.input {
	border: none;
	height: 50px;
	display: flex;
	align-items: center;
	flex: 0 0 70%;
	padding: 0 20px;
	font-size: 20px;
}
.button {
	border: none;
	height: 50px;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	color: #fff;
	width: 100%;
	font-size: 22px;
	cursor: pointer;
}
